/*Styling specific to the chat behaviour*/

/*Styling for the container that contains all Messages*/
#messageHistory {
  flex: 1;/*Take upp remaining space from Title & chatbox*/

  padding-left: 1.5%;

  /*Make messages stack from bottom to top (reverse order)*/
  display: flex;
  flex-direction: column-reverse;

  /*Add scrollbar when messages overflow (messages can be scrolled outside the window)*/
  overflow: auto;
}

/*Message Styling*/
.message {
  margin-bottom: 10px;/*space between messages*/

  width: auto;/*Take up 100% of parent container*/
}
/*Message title */
.message h1 {
  font-size: 20px;
  color:#D41F42;
}
/*All message text*/
.message h1, .message p {
  margin: 0px;
}

/*Input box for messages*/
#chatbox {
    background-color: #FFFFFF;
    color: #121212;

    margin: auto;/*Position in middle*/
    width: 96%;
    height: 10%;

    /*Round corners*/
    border-radius: 10px;

    font-size: 15px;
}
#submitMessageButton {
  /*Submit button positioning & size*/
  margin-right: 2%;
  margin-left: auto;

  width: 5%;
}

.logInPrompt {
    background-color: #FFFFFF;
    color: #121212;

    margin: auto;/*Position in middle*/
    padding-top: 15px;

    width: 96%;
    height: 4%;

    /*Round corners*/
    border-radius: 5px;

    text-align: center;
}
