/*Style sheet contains all the different containers for content (windows & panels)*/


.contentPanel {
  background-color: #1F1F1F;

  height: 100%;
  width: 60%;

  /*child containers will stretch to fit this panel*/
  display:flex;
  flex-direction:column;

  /*Horizontaly position in center*/
  margin: auto;
}

.contentWindow {
  background-color: #1F1F1F;

  width: 500px;

  /*Round corners*/
  border-radius: 15px;

  /*Position in middle of screen*/
  margin: auto;
  /*Distance to top of screen*/
  margin-top: 15%;

  /*Some padding between content and bottom*/
  padding-bottom: 20px;

  /*text aligns to the center*/
  text-align: center;
}

/*The bar that contains the title*/
.titleContainer {
  background-color: #292929;

  /*100% width*/
  width: auto;

  /*padding*/
  padding-left: 2%;
  padding-top: 10px;
  padding-bottom: 10px;

  /*text aligns to the left*/
  text-align: left;
}

.titleContainer h1  {
  font-size: 20px;
  margin: 0;
}
